<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByWP-ImL9J4meW4XQ--hKxIRo4IzXVCMw</string>
	<key>GCM_SENDER_ID</key>
	<string>458397260180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourTracksRiverpod</string>
	<key>PROJECT_ID</key>
	<string>yourtracks-c11cf</string>
	<key>STORAGE_BUCKET</key>
	<string>yourtracks-c11cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458397260180:ios:4bce05b51b8262615e9781</string>
</dict>
</plist>